   body {
      background-color: #dadada; 
      width: 98.8%;
   }

   h1 {
      font-size: 2.4em;
   }

   .heading1 {
      color:black; 
      background-color: #a47f9d;
      background-position: 100%;
      margin-left: -1%;
      margin-right: 0%;
      margin-top: -1%;
      padding: 1% 1% 1% 10%; 
      font-family: "Cinzel Decorative", sans-serif;
   }

   .image {
      width: 16%;
      position: relative;
      /* float: right;  */
      margin-top: -7%;
      margin-right: 3.2%;
      box-shadow: 4px 4px 4px black;
   }
   
   .heading2 {
      margin-top: 7%;
      font-size: 2em;
   }

   hr {
      border: none;
      width: 100%;
      margin: auto;
      margin-top: -1%;
      margin-bottom: 5%;
      margin-left: 0%;
      height: 2px;
      background-size: 5% 5%;
      background-color: black;
   }
   .footer_end {
      background-color: #515151;
      margin-top: 17%;
      margin-left: -1%;
      margin-right: 0%;
      padding: 1% 2% 1% 2%;
   }

   .lists {
      font-size: 1.5em;
      color: black;
   }
   .footerParagraph {
      text-align: center;
      font-size: 1.2em;
      color: beige;
   }

   .bottomParagraph {
      text-align: center; 
      color: #f2f2f2;
   }

   a:link {
      color: #0b0b0b;
   }
   
   #byuiLink {
      color: beige;
   }