header {
   background-color: #dadada;
   width: auto;
   text-align: center;
   margin-top: -2.2%;
}

h1, h2, h3 {
   font-family: "Bungee Inline", sans-serif;
   font-size: 3em;
}

h1 {
   padding-top: 0.6em;
}
h2 {
   font-size: 2em;
}

h3 {
   font-size: 2em;
   padding-bottom: 1%;
}
.screenshot {
   width: 70%;
}

h4, .company {
   font-family: "Syncopate", sans-serif;
   font-size: 1.5em;
}

p {
   font-family: "Annie Use Your telescope", serif;
   font-size: 1.5em;
   text-align: center;
}

main {
   margin-top: -2.5%;
   text-align: center;
   max-width: 99.78%;
   display: grid;
   grid-template-columns: 1fr;
   font-size: 1rem;
}
main section {
   width: 100%;
   background-color: beige;
   border: 1px solid black; 
}
main section img {
   padding: 1em;
   width: 100%;
}

main section p {
   padding: 15px;
}

.footer_end {
   background-color: #515151;
   margin-left: -1%;
   padding: 1% 2% 1% 2%;
}

.footerParagraph {
   text-align: center;
   font-size: 1.2em;
   color: beige;
}

.bottomParagraph {
   text-align: center; 
   color: #f2f2f2;
}

a:link {
   color: #0b0b0b;
   font-size: 1.2em;
}

#byuiLink {
   color: beige;
}

footer {
   width: auto;
}

@media only screen and (min-width: 32.5em) {
   header {
      width: auto;
   }

   h1{
       font-size: 2.5rem;
   }
   h2 {
       font-size: 1.5rem;
   }
   main {
       max-width: auto;
       grid-template-columns: 1fr 1fr;
   }
   section:nth-child(2){
       grid-column: span 1;
   }
   section:nth-child(3){
       grid-column: span 2;
   }
}

@media only screen and (min-width: 60em) {
   main {
       max-width: auto;
       grid-template-columns: 1fr 1fr 1fr;
       
   }
   section:nth-child(3) {
       grid-column: span 1;
   }

   
}
