/****************************************************************
                     Header Fonts CSS
****************************************************************/

/*@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Bungee+Inline|Syncopate&display=swap'); */

header {
   background-color: #515151;
   width: auto;
   text-align: center;
   margin-top: -2.13%;
}

h1, h2, h3 {
   font-family: "Bungee Inline", sans-serif;
   font-size: 3em;
   color: beige;
}

h1 {
   padding-top: 0.6em;
}

h2 {
   font-size: 2em;
}

h3 {
   font-size: 2em;
   padding-bottom: 1%;
}

/****************************************************************
                  Main and Grid Sections CSS
*****************************************************************
                           Grid Specifications:
            - (Small) Mobile is catered for first in the below CSS
            - (Medium) Tablets: 32.5em+
            - (large) Desktop: 60em+
****************************************************************/
main {
   margin-top: -2.1%;
   text-align: center;
   max-width: 99.80%;
   display: grid;
   grid-template-columns: 1fr;
   font-size: 1rem;
}

section {
   width: 100%;
   background-color: rgb(247, 255, 254);
   border: 1px solid black;    
}

h4, .company {
   font-family: "Syncopate", sans-serif;
   font-size: 1.59em;
}

.screenshot {
   width: 70%;
   padding: 1em;
}

p {
   font-family: "Annie Use Your telescope", serif;
   font-size: 1.5em;
   text-align: center;
   padding: 15px;
}

/*********************************************************************
                              Footer CSS
*********************************************************************/
footer {
   width: auto;
}

.footer_end {
   background-color: #515151;
   margin-left: -1%;
   padding: 1% 2% 1% 2%;
}

.footerParagraph {
   text-align: center;
   font-size: 1.2em;
   color: beige;
}

.bottomParagraph {
   text-align: center; 
   color: #f2f2f2;
}

a:link {
   color: #0b0b0b;
   font-size: 1.2em;
}

#byuiLink {
   color: beige;
}

