// Colors
$copper: #c47335;
$cafe: #56351e;
$whitesmoke: #edf7f6;
$lapis: #2660a4;
$bff: #f19953;


// Fonts
$poiretone: "Poiret One";
$eaglelake: "Eagle Lake";
$pacifico: "Pacifico";
$dancing: "Dancing Script";
$rocksalt: "Rock Salt";
$parisienne: "Parisienne";
