/******************************
   Desktop+ Viewports CSS
******************************/
@media only screen and (min-width: 60em) {

/****************************
         Main CSS
****************************/
main {
   grid-template-columns: 1fr 1fr 1fr;
   grid-row-gap: 5px;
}


figure:hover {
   box-shadow: 0px 3px 23px 3px black;
   transform: scale(1.02);
   z-index: 1;
}

/*************************
      Footer CSS
*************************/
footer {
   margin: 0 auto;
   padding: 2% 0% 2% 0%;
}
}