/******************************
   Desktop+ Viewports CSS
******************************/
@media only screen and (min-width: 1230px) {

/****************************
         Main CSS
****************************/
main {
   grid-template-columns: 1fr 1fr 1fr;
   grid-row-gap: 5px;
}


picture:hover {
   box-shadow: 0px 3px 23px 3px black;
   transform: scale(1.02);
   z-index: 1;
}

footer {
   margin: 0 auto;
   padding: 2% 0% 2% 0%;
}
