@media only screen and (min-width: 60em) {
   .headerLogo {
      width: 10%;
      left: 24%;
      top: 0.2%;
   }

   .headerText {
      padding-left: 0%;
   }
   .headerTitle {
      margin-top: -0.1%;
      font-size: 2.5em;
   }
   
   .headerQuote {
      padding-top: -0.8%;
      font-size: 0.9em;
   }
}