/******************************
   Desktop+ Viewports CSS
******************************/
@media only screen and (min-width: 60em) {

   /*********************
         Main CSS
   *********************/
   main, 
	footer {
		max-width: 70%;
		margin: 0 auto;
	}

   div p {
      padding: 4% 0% 4% 0%;
   }

   footer {
      padding: 2% 0% 2% 0%;
   }
}