/********************************
           Global CSS           
********************************/
html {
	margin: 0 auto;
	background-color: #cac4ce;
}

* {
	margin: 0;
}

/*******************************
			  Header CSS
*******************************/
header {
	background-color: #725ac1;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
   font-family: "Playfair Display SC", 'Times New Roman', Times, serif;
   color: linen;
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.motto {
	font-style: italic;
	color: linen;
	margin-left: 20px;
	font-size: 0.9rem;
	letter-spacing: 0.3pt;
}

/****************************
		Navigation Bar CSS
****************************/
nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: #240238;
	color: linen;
}

.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0%;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	color: linen;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
}

.navigation a:hover {
	color: #240238;
	background-color: linen;
	font-weight: 700;
}

.responsive li {
	display: block;
}

/***************************
   Main and .container CSS
***************************/
main,
footer {
	text-align: center;
	max-width: 100%;
	background-color: #8d86c9;
	color: linen;
	margin: 0 auto;
}

.townName {
	font-family: "Libre Baskerville", Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 2% 0% 2% 0%;
	border-bottom: 1px ridge #242038;
}

.container {
	font-family: "Montserrat", 'Times New Roman', Times, serif;
	margin: 0 auto;
}

body .container {
	border: 0.5px solid black;
}

div p {
	padding: 9% 0% 9% 0%;
}

/****************************
			Footer CSS
****************************/
footer {
	background-color: #240238;
	color: linen;
	font-family: "Playfair Display SC", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0 auto;
	padding: 8% 0% 8% 0%;
}

#byuiLink {
	color: linen;
	text-decoration: none;
}




