/********************************
*CSS For Preston First Draft page*
********************************/
html {
   margin: 0 auto;
}

header {
	background-color: #725ac1;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
   font-family: "Playfair Display SC", 'Times New Roman', Times, serif;
   color: linen;
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.motto {
	font-style: italic;
	color: linen;
	margin-left: 20px;
	font-size: 0.9rem;
	letter-spacing: 0.3pt;
}

nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: #242038;
	
}
.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0%;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: linen;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color: #725ac1;
	background-color: linen;
	font-weight: 700;
}


/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}




