/************************************
		Tablet and Kindle Viewports
************************************/
@media only screen and (min-width: 32.5em) {

	/*********************
			Header CSS
	*********************/
	header img {
		width: 100%;
	}

	.headings h2 {
		font-size: 2.1rem;
	}

	.motto {
		letter-spacing: 2pt;
		font-size: larger;
		margin-left: 17px;
   }
	
	/**********************
	  Navigation Bar CSS
	**********************/
	.navigation {
		display: flex;
	}

	.navigation li:first-child {
		display: none;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

	.navigation li a {
		color: linen;
   }
	
	
	/*********************
			 Main CSS
	*********************/
	main {
		width: 70%;
	}

	h2 {
		font-size: 2em;
	}

   /*********************
         Footer CSS
   *********************/
   footer {
		width: 70%;
		padding: 2% 0% 2% 0%;
   }
}