/******* Small View *******/
html {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: slategray;
   margin: 0 auto;
   max-width: 90%;
}

header h1 {
   text-align: center;
   color: salmon;
   font-size: 3em;
   text-shadow: -3px 0 whitesmoke, 0 3px whitesmoke, 3px 0 whitesmoke, 0 -3px whitesmoke;
}

main .cards {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 2.5em;
   text-align: center;
   justify-content: center;
}

main section {
   border: 2px black solid;
   box-shadow: 5px 5px 5px salmon;
   color: black;
   background-color: lightgrey;
   padding: 4%;
}

main .cards h2 {
   font-size: 1.5em;
}

main .cards h3, p {
   font-size: 0.9em;
}

img {
   max-width: 40%;
}

footer {
   color: white;
   text-align: center;
   font-size: 1.4em;
   padding-top: 2%;
   padding-bottom: 2%
}
/****** Tablet View *******9*/
@media only screen and (min-width: 32.5em) {
   main .cards {
      grid-template-columns: 1fr 1fr;
   }
}

/****** Desktop View ******/
@media only screen and (min-width: 60em) {
   main .cards {
      grid-template-columns: 1fr 1fr 1fr 1fr;
   }
}