/********************************
           Global CSS           
********************************/
html {
	margin: 0 auto;
	background-color: linen;
}

* {
	margin: 0;
}

/*******************************
			Banner CSS				
*******************************/
.saturdaybanner {
	width: auto;
	background-color: linen;
	color: #242038;
	text-align: center;
	font-size: 1.5em;
	font-family: "Playfair Display SC", 'Times New Roman', Times, serif;
	padding: 1.5%;
	display: none;
}

.contact {
	background-color: linen;
	color: #242038;
}
.logo {
	width: 10%;
}

/*******************************
			  Header CSS
*******************************/
header {
	background-color: #725ac1;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
   font-family: "Playfair Display SC", 'Times New Roman', Times, serif;
   color: linen;
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.motto {
	font-style: italic;
	color: linen;
	margin-left: 20px;
	font-size: 0.9rem;
	letter-spacing: 0.3pt;
}

/****************************
		Navigation Bar CSS
****************************/
nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: #240238;
	color: linen;
}

.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0%;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	color: linen;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
}


.navigation a:hover {
	color: #240238;
	background-color: linen;
	font-weight: 700;
}

.responsive li {
	display: block;
}

/****************************
         Main CSS
****************************/
main {
   text-align: center;
   width: auto;
   background-color: #cac4ce;
}

.bannerImage {
   max-width: 100%;
   margin-bottom: -1.5%;
}

div.cards {
   display: grid;
   grid-template-columns: 1fr;
   margin: 0 auto;
   font-family: "Montserrat", 'Times New Roman', Times, serif;
   margin: 2% 0% 5% 0%;
}

div.cards p {
   font-size: 1.3em;
}

div.cards section h1{
   font-family: "Calligraffitti", Arial, Helvetica, sans-serif;
}

div.cards section img {
   padding-top: 2%;
}

div.cards section:nth-child(2) {
   background-color: #242038;
   color:white;
}

main section {
   max-width: 100%;
}

main section img {
   max-width: 100%;
}

.homeArticle h1 {
   font-family: "Calligraffitti", Arial, Helvetica, sans-serif;
}

.homeArticle {
   background-color: #725ac1;
   color: linen;
   padding: 2% 2% 2% 2%;
   text-align: left;
   font-size: large;
}

.wireframes h1 {
   font-family: "Calligraffitti", Arial, Helvetica, sans-serif;
}

.wireframes a{
   font-size: 1.5em;
}

.wireframes {
   padding: 5%;
}

/****************************
			Footer CSS
****************************/
footer {
	width:100%;
   text-align: center;
	background-color: #240238;
	color: linen;
	font-family: "Playfair Display SC", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 0 auto;
	padding: 8% 0% 8% 0%;
}

#byuiLink {
	color: linen;
	text-decoration: none;
}
