html {
   margin: 0 auto;
   background-color: grey;
}

h1 {
   text-align: center;
   color: linen;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

picture {
   padding: 1% 0% 1% 0%;
   display: grid;
   grid-template-columns: 1fr;
   justify-items: center;
}

img {
   border: beige solid 2px;
   box-shadow: 7px 7px 7px;
}
picture img[data-src] {
   filter: blur(0.3em);
}
picture img {
   filter: blur(0em);
   transition: filter 0.7s;
}