/*************************
   Set margins and max width
*************************/
html {
   background-color: #c9b89d;
}

body, 
head {
   margin: 0 auto;
   max-width: 900px;
}
/******** Header for Weather Site ******/
.logo {
   position: absolute;
   width: 20%;
   top: -1.5%;
}

header {
   background-color: beige;
   margin-top: -0.9%;
   padding: 2.5% 0% 2.5% 0%;
}
 
h1, h2 {
   font-family: "Playfair Display SC", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align:center;
}

/****** Title of Topic *****/
.maintopic {
   background-color: beige;
   margin: 0% 0% 0% 0%;
   padding: 2% 1% 3% 1%;
}

/***** Navigation Bar *****/
nav {
   background-color: #829093;
   padding: 0.3em;
   margin: 0 auto;
 }
 
 nav a {
   padding: 0.5em 0.5em;
   color: white;
   text-decoration: none;
   line-height: 3em;
 }
 
 nav li{
   list-style-type: none;
   font-family: 'Cantata One', "Lucida Sans Unicode", sans-serif;
   font-size: 1.2em; 
   display: flex;
   flex: 1 1 100%;
   justify-content: center;
   text-align:center;
 }
 
 nav a:hover {
   background-color: beige;
   color: black;
   border-radius: 5px;
 }

/***** Color Scheme ******/
.secone, 
.sectwo, 
.secthree, 
.secfour,
.secfive {
   text-align: center;
   padding: 5% 5% 5% 5%;
   color: linen;
   font-family: "Playfair Display SC", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.secone {
   
   background-color: #242038;
}

.sectwo {
   background-color: #725ac1;
}

.secthree {
   background-color: #8d86c9;
}

.secfour {
   background-color: #cac4ce;
   color: #242038;
}

.secfive {
   background-color: #f7ece1;
   color: #242038;
}

/***** Color Scheme PNG *****/
.scheme {
   width: 99.99%;
   border-top: 2px solid black;
   margin-bottom: -1%;
}

/****** Footer ******/
footer {
   width: auto;
}

.footer_end {
   background-color: #515151;
   padding: 1% 0% 1% 0%;
}

.footerParagraph {
   text-align: center;
   font-size: 1.2em;
   color: beige;
}

.bottomParagraph {
   text-align: center; 
   color: #f2f2f2;
}

a:link {
   color: #0b0b0b;
   font-size: 1em;
}

#byuiLink {
   color: beige;
}

/***************************************************
                  Desktop+ Views
 **************************************************/
 @media only screen and (min-width: 60em) {

   .logo {
      width: 10%;
   }
   
   nav a {
      padding: 0.5em 0.5em;
      color: white;
      text-decoration: none;
      line-height: 3em;
    }
    
    nav li{
      list-style-type: none;
      font-family: 'Cantata One', "Lucida Sans Unicode", sans-serif;
      padding: 0% 3% 0% 3%;
      font-size: 1.2em; 
      display: inline;
    }
    
    nav a:hover {
      background-color: beige;
      color: black;
      border-radius: 5px;
    }
}
