/*****************************
   Set margins and max width
*****************************/
html {
   background-color: #c9b89d;
}
 
head,
body {
   margin: 0 auto;
   max-width: 900px;
}

/******* Header for Weather Site *******/
.weatherlogo {
   position: absolute;
   width: 20%;
   top: -1.5%;
}

header {
   background-color: beige;
   margin-top: -0.9%;
   padding: 2.5% 0% 2.5% 0%;
}
 
h1 { 
   font-family: "Playfair Display SC", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
}


/******* Navigation Bar ********/
nav {
   background-color: #829093;
   padding: 0.3em;
   margin: 0 auto;
 }
 
nav a {
   padding: 0.5em 0.5em;
   color: white;
   text-decoration: none;
   line-height: 3em;
}
 
 nav li{
   list-style-type: none;
   font-family: 'Cantata One', "Lucida Sans Unicode", sans-serif;
   font-size: 1.2em; 
   display: flex;
   flex: 1 1 100%;
   justify-content: center;
   text-align:center;
 }
 
 nav a:hover {
   background-color: beige;
   color: black;
   border-radius: 5px;
}

/******* Main  + Sections ********/
main {
   background-color: darkgray;
   padding-top: 1%;
}

section {
   padding: 3% 0% 3% 0%;
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-size: 1.3em;
   color: antiquewhite;
}

p {
   font-size: 1.2em;
}

.siteplan {
   width: 100%;
   border: 1px solid black;
}

/******** Footer ********/
footer {
   width: auto;
}

.footer_end {
   background-color: #515151;
   padding: 1% 0% 1% 0%;
}

.footerParagraph {
   text-align: center;
   font-size: 1.2em;
   color: beige;
}

.bottomParagraph {
   text-align: center; 
   color: #f2f2f2;
}

a:link {
   color: #0b0b0b;
   font-size: 1em;
}

#byuiLink {
   color: beige;
}

/***************************************************
                  Desktop+ Views
 **************************************************/
@media only screen and (min-width: 60em) {

   .weatherlogo {
      width: 10%;
   }
   nav a {
      padding: 0.5em 0.5em;
      color: white;
      text-decoration: none;
      line-height: 3em;
    }
    
    nav li{
      list-style-type: none;
      font-family: 'Cantata One', "Lucida Sans Unicode", sans-serif;
      padding: 0% 3% 0% 3%;
      font-size: 1.2em; 
      display: inline;
    }
    
    nav a:hover {
      background-color: beige;
      color: black;
      border-radius: 5px;
    }
}
